@import "tailwindcss";
@plugin "daisyui";

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (width >= theme(--breakpoint-sm)) {
    padding-inline: 2rem;
  }

  @media (width >= theme(--breakpoint-lg)) {
    padding-inline: 4rem;
  }

  @media (width >= theme(--breakpoint-xl)) {
    padding-inline: 5rem;
  }

  @media (width >= theme(--breakpoint-2xl)) {
    padding-inline: 6rem;
  }
}

@layer base {
  html:not([data-theme="light"]) ::placeholder {
    color: var(--color-neutral-500);
  }
}

@layer components {
  .header {
    @apply text-6xl font-bold mt-16 mb-8;
  }
  .tag-filter-enabled {
    font-weight: 900;
    text-decoration: underline;
  }
}
