@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html:not([data-theme="light"]) ::placeholder {
    @apply dark:text-neutral-500;
  }
}

@layer components {
  .header {
    @apply text-6xl font-bold mt-16 mb-8;
  }
  .tag-filter-enabled {
    font-weight: 900;
    text-decoration: underline;
  }
}
