@import "tailwindcss";
@plugin "daisyui";

@theme {
  --container-center: true;
  --container-padding: 1rem;
  --container-padding-sm: 2rem;
  --container-padding-lg: 4rem;
  --container-padding-xl: 5rem;
  --container-padding-2xl: 6rem;
}

@layer base {
  html:not([data-theme="light"]) ::placeholder {
    color: rgb(115 115 115 / 1);
  }
}

@layer components {
  .header {
    @apply text-6xl font-bold mt-16 mb-8;
  }
  .tag-filter-enabled {
    font-weight: 900;
    text-decoration: underline;
  }
}
