services:
  devcontainer:
    build:
      dockerfile: Containerfile
    command: sleep infinity
    volumes:
      - ../..:/workspaces:cached
    network_mode: service:minio

  minio:
    image: bitnamilegacy/minio:2025.4.22
    environment:
      MINIO_DEFAULT_BUCKETS: karaberus
    volumes:
      - minio-data:/bitnami/minio/data
    restart: unless-stopped

volumes:
  minio-data:
